body{
  background: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
  font-size: 16px;
  font-family:  'Courier New', sans-serif;
  text-align: center;
}
h1{
  color: gray;
  font-size: 50px;
  font-weight: lighter;
  font-family: Courier;
}
a{
  color: gray;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  font-weight:bold;
  color: black;
}
img {
  border-radius: 10%;
}
p {
  text-align: justify;
}
td {
  width:350px;
}

.container li{
  display: inline;
}
.container {
  background: rgb(200, 200, 200);
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
  border-radius: 5px;
  padding: 1px;
  margin: 10px auto;
}
.card{
  background: rgb(200, 200, 200);
  padding: 10px;
  font-weight: lighter;
  border-radius: 50px;
}
.text-content {
  padding: 15px;
}
@media (max-width: 800px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
